 @model IEnumerable<Ecommerce.Models.CancelItems>
<div>
    <h2>Order Cancellation</h2>
</div>
<div>

    <div>
       
        <hr />
        @foreach (var items in Model)
        {
    <dl class="row">
        <dt class="col-sm-2">
            <h5>OrderId</h5>
        </dt>
        <dd class="col-sm-10">
            @items.OrderId
        </dd>
        <dt class="col-sm-2">
            <h5>ItemId</h5>
        </dt>
        <dd class="col-sm-10">
            @items.ItemId
        </dd>
        <dt class="col-sm-2">
            <h5>Amount</h5>
        </dt>
        <dd class="col-sm-10">
            <span> @items.Amount</span>
        </dd>
        <dt class="col-sm-2">
            <h5>Status</h5>
        </dt>
        <dd class="col-sm-10">
            <span> @items.Status</span>
        </dd>
        <dt class="col-sm-5">
            <h5>Expected Delivery </h5>
        </dt>
        <dd class="col-sm-7">

        </dd>


        <dt class="col-sm-2">
            <h5>From</h5>
        </dt>
        <dd class="col-sm-10">
            @items.From
        </dd>
        <dt class="col-sm-2">
            <h5>To</h5>
        </dt>
        <dd class="col-sm-10">
            @items.To
        </dd>
        <dt class="col-sm-3">
            <a asp-action="CancelDetails" asp-route-id="@items.ItemId" class="btn btn-danger">@ViewData["operation"]</a>
        </dt>
        <dd class="col-sm-10">

        </dd>
    </dl>
        }
    </div>
    <div>

    
        
    </div>
